@import url('https://fonts.googleapis.com/css?family=Dosis|Pacifico');

/*---Core Styles---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
	background: rgba(255,255,255,1);
	color: rgba(0,0,0,0.8);
	font: 100% 'Dosis', sans-serif;
	text-align: center;
	line-height: 1.5;
    text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color: rgba(0,0,0,0.8);
}

a:hover {
	color: rgba(0,0,0,0.5);
}

ol, ul {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


/*---Header---*/
header {
	background: rgba(64,64,64,1);
	color: rgba(255,255,255,1);
	font-size: 75%;
	z-index: 100;
}

nav {
	display: none;
	width: 100%;
}

nav li {
	display: block;
	padding: 5%;
	font-size: 150%;
	font-weight: bold;
	transition: all 0.2s;
}

h1 a, h1 a:hover {
	color: rgba(100,149,237,1);
	font: 100% 'Pacifico', cursive;
}

nav li a {
	color: rgba(255,255,255,1);
}

nav li a:hover {
	color: rgba(255,255,255,0.9);
}

.open-nav {
	display: block;
}


/*---Main---*/
#scroll-button {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 99;
  background: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.wrapper {
	padding: 5%;
}

#about {
	height: 100vh;
}

#portfolio {
	background: rgba(128,128,128,0.1);
}

.gallery {
	display: grid;
}

.gallery > * {
	padding: 2%;
	margin: 5%;
	border: 1px solid rgba(0,0,0,0.3);
}


/*---Footer---*/
footer {
	font-size: 75%;
}


/*---Media Queries---*/
@media only screen and (min-width: 480px) {
	body {
		font-size: 125%;
	}
}


@media only screen and (min-width: 768px) {
	body {
		font-size: 150%;
	}

	header {
		display: grid;
		grid-template-columns: repeat(2, 1fr); 
		position: fixed;
		width: 100%;
	}

	#nav-button {
		display: none;
	}

	nav {
		display: inline;
		font-size: 75%;
		padding: 1%;
	}

	nav li {
		display: inline;
	}

	#about {
		display: grid;
		grid-template-columns: 3fr 2fr; 
		padding: 10% 0 2%;
	}

	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
	}
}


@media only screen and (min-width: 1280px) {
	body {
		font-size: 200%;
	}
}