@import url('https://fonts.googleapis.com/css?family=Alegreya|Vollkorn');

/*---Core Styles---*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
	/* Black */
	--color-one: hsla(0, 0%, 0%, 0.9);
	/* White */
	--color-two: hsla(0, 0%, 100%, 0.9);
	/* Translucent Black */
	--color-three: hsla(0, 0%, 0%, 0.6);
	/* Translucent White */
	--color-four: hsla(0, 0%, 100%, 0.6);
	/* Blue */
	--color-five: hsla(195, 100%, 39%, 1);
	/* Purple */
	--color-six: hsla(259, 30%, 42%, 1);
}

body {
	background: linear-gradient(to bottom, var(--color-five, white), var(--color-six, white));
	color: var(--color-one, black);
	font: 100% 'Alegreya', sans-serif;
	text-align: center;
	line-height: 1.5;
    text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color: var(--color-one, black);
}

a:hover {
	color: var(--color-three, black);
}

ol, ul {
	list-style: none;
	list-style-type: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


/*---Header---*/
header {
	background: var(--color-one, black);
	color: var(--color-two, white);
	font-size: 75%;
	width: 100%;
	z-index: 100;
}

h1 a, h1 a:hover {
	color: var(--color-two, white);
	font-family: 'Vollkorn', sans-serif;
}


/*---Menu---*/
menu {
	display: none;
  	position: fixed;
  	font-size: 200%;
  	top: 50%;
  	right: 0;
  	margin: 10%;
  	z-index: 99;
}

#nav-button, #scroll-button {
	cursor: pointer;
	margin: 20%;
	padding: 10%;
  	border: 1px solid var(--color-two, white);
  	border-radius: 5px;
  	box-shadow: 5px 5px 20px var(--color-three, black);
	background: var(--color-one, black);
  	color: var(--color-two, white);
}


/*---Navigation---*/
nav {
  	position: fixed;
  	font-size: 150%;
  	font-weight: bold;
  	width: 0;
  	top: 50%;
  	right: 25%;
  	z-index: 98;
  	border-radius: 5px;
	background: var(--color-one, black);
  	color: var(--color-two, white);
  	overflow: hidden;
	transition: all 0.2s;
}

nav li a, nav li a:hover {
	color: var(--color-five, white);
}

.open-nav {
	width: auto;
	padding: 5%;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background: var(--color-four, white);
}


/*---Main---*/
.wrapper {
	padding: 5%;
}

#social {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	margin: 5%;
}

#about {
	height: 100vh;
}

#about-me, #skills {
	margin: 10%;
	background: var(--color-two, white);
}

#code {
	background: var(--color-three, black);
	color: var(--color-two, white)
}

#design {
	background: var(--color-four, white);
	color: var(--color-one, black);
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
}

.gallery > * {
	margin: 3%;
	padding: 2%;
	border-radius: 10px;
	background: var(--color-two, white)
}


/*---Footer---*/
footer {
	background: var(--color-one, black);
	color: var(--color-two, white);
	font-size: 75%;
	padding: 1%;
}


/*---Media Queries---*/
@media only screen and (min-width: 480px) {
	body {
		font-size: 125%;
	}
}


@media only screen and (min-width: 768px) {
	body {
		font-size: 150%;
	}

	menu {
		font-size: 125%;
		margin: 2%;
		top: 0;
	}

	nav {
		font-size: 125%;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.open-nav {
		width: 25%;
	}

	#about {
		display: grid;
		grid-template-columns: 3fr 2fr; 
		height: auto;
		padding: 10% 5%;
	}

	#about-me, #skills {
		margin: 0 5%;
	}

	.gallery {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
	}
}


@media only screen and (min-width: 1280px) {
	body {
		font-size: 200%;
	}
}
